<%- include ("partials/dashboardHeaderAdmin") -%>
<div class="w3-container w3-light-grey" style="padding:128px 32px; width:75%; margin:auto;" id="generalinfo">
    <h3 class="w3-xxxlarge">3. Speakers and Partners Information</h3>
    
      <form action="/editspeakers/<%= eventToEdit.name%>" method="POST">

     <br>
        <p><label class="w3-xxlarge">Speaker Information</label></p><br>


        <% for (let i=0;i<numSpeakers1;i++) { %>

            <p class="w3-xlarge">Speaker <%= (i+1) %></p>
            
            
            
            <p><label class="w3-large" for="speakername<%=(i+1)%>">Name of Speaker</label></p>
            <input class="w3-input w3-border" id="speakername<%=(i+1)%>" placeholder="eg. John Smith" required value="<%= eventToEdit.speakers[i].speakername%>" name="speakername"></input>

            <p><label class="w3-large" for="twitter<%=(i+1)%>">Twitter Handle</label></p>
            <input class="w3-input w3-border" id="twitter<%=(i+1)%>" placeholder="eg. @johnsmith01" value="<%= eventToEdit.speakers[i].twitter%>" name="twitter"></input>

            <p><label class="w3-large" for="linkedin<%=(i+1)%>">LinkedIn profile</label></p>
            <input class="w3-input w3-border" id="linkedin<%=(i+1)%>" placeholder="eg. https://www.linkedin.com/in/john-smith-a837g254/" value="<%= eventToEdit.speakers[i].linkedin%>" name="linkedin"></input>

            <p><label class="w3-large" for="imgURL<%=(i+1)%>">Image URL</label></p>
            <input class="w3-input w3-border" id="imgURL<%=(i+1)%>" placeholder="eg. https://someimages.com/image.png/" value="<%= eventToEdit.speakers[i].imgURL%>" name="imgURL"></input>
            
            <p><label class="w3-large" for="company<%=(i+1)%>">Company</label></p>
            <input class="w3-input w3-border" id="company<%=(i+1)%>" value="<%= eventToEdit.speakers[i].company%>" name="company"></input>

            <p><label class="w3-large" for="designation<%=(i+1)%>">Designation</label></p>
            <input class="w3-input w3-border" id="designation<%=(i+1)%>" value="<%= eventToEdit.speakers[i].designation%>" name="designation"></input>

            <p><label class="w3-large" for="website<%=(i+1)%>">Website</label></p>
            <input class="w3-input w3-border" id="website<%=(i+1)%>" value="<%= eventToEdit.speakers[i].website%>" name="website"></input>

            <p><label class="w3-large" for="twitter<%=(i+1)%>">Short biography</label></p>
            <textarea class="w3-input w3-border" id="bio<%=(i+1)%>" value="<%= eventToEdit.speakers[i].bio%>" placeholder="" rows="10" name="bio"><%= eventToEdit.speakers[i].bio%></textarea>
            <% } %>
              <br>
          
        <p>
          <button class="w3-button w3-black" name="submit" type="submit" value="<%= eventToEdit.name%>">
            <i class="fa fa-check"></i> SAVE AND CONTINUE
          </button>
        </p>
      </form>
      
    </div>
  </div>

  